%header
  .inner
    %h1= hackday.name
    .dates= dates(hackday)
    .effort= effort(hackday)

- if @commitments.any?
  %section.commitments
    .inner
      %h3= tense(hackday, ".working")
      %ul.goals
        = render @commitments.map(&:goal)
      = link_to "Add a project", new_hackday_project_path(hackday), class: "button"
- elsif !hackday.past?
  %section.no-project
    .inner
      %h2= t(".no_commitment")
      %p= t(".browse_or_add")
      = link_to "Add a project", new_hackday_project_path(hackday), class: "button"

- if other_goals.any?
  %section.other-projects
    .inner
      %h2= tense(hackday, ".goals")

      %ul.goals
        = render other_goals
