%header
  .inner
    %h1= hackday.name
    .dates= dates(hackday)
    .effort= effort(hackday)

- if @commitments.any?
  %section.commitments
    .inner
      %h3= hackday.current? && "You are working on" || "You worked on"
      %ul.goals
        = render @commitments.map(&:goal)
      = link_to "Add a project", new_hackday_project_path(hackday), class: "button"
- elsif hackday.current?
  %section.no-project
    .inner
      %h2 What are you working on?
      %p Browse the projects below or add your own.
      = link_to "Add a project", new_hackday_project_path(hackday), class: "button"

%section.other-projects
  .inner
    %h2
      - if hackday.current?
        Here’s what other people are working on:
      - else
        Here’s what we worked on:

    %ul.goals
      = render other_goals
