%section
  .inner
    .field
      = form.label :name
      = form.text_field :name
      = form.error_messages_for :name
    %p.field-hint Something memorable!

    .field
      = form.label :description
      = form.text_area :description, rows: 10
      = form.error_messages_for :description
    %p.field-hint What's exciting about this project? What technologies will you use? What will you deliver?

    .field
      = form.label :repository_url
      = form.url_field :repository_url, rows: 10
      = form.error_messages_for :repository_url
    %p.field-hint Let others browse your code.
