%header
  .inner
    %h1= @project.name

%section.project-info
  .inner
    .description
      %h3 Project description
      - if @project.description.present?
        = markdown @project.description
      - else
        %p No description yet. If this is your project, why not brag about it a bit?
      %p
        = link_to "Edit this project", edit_project_path(@project), class: "button"
        = link_to "Add a goal", new_project_goal_path(@project), class: "button"
    .contributors
      %h3 Contributors
      %ul
        = render @project.contributors
      - if @project.repository_url
        %h3 Source code
        %p= link_to "View source code", @project.repository_url, target: :_blank

= render partial: "goal", collection: project_goals
