%li.goal
  %h4
    = link_to goal.project.name, goal.project
  .committed-users
    - if working_on?(goal)
      = link_to "Actually, nah", goal_commitment_path(goal), method: :delete, class: "button"
    - else
      = link_to "Sign me up!", goal_commitment_path(goal), method: :post, class: "button"
    = users(goal.users.to_a)

  = markdown goal.aim
  - if goal.help_required? && !working_on?(goal)
    %p.help
      %b Help required:
      = goal.help_required

  = render "goals/likes", goal: goal
