%header
  .inner
    %h1 New goal
    %h2= "#{project.name}, #{dates(Hackday.upcoming.first)}"

= form_for @goal, url: project_goals_path(project) do |form|
  = render partial: "form", object: form

  %section.buttons
    .inner
      = form.submit "Add goal"
